$color_dark : #000000;
$color_primary : #101010;
$color_light : #121212;

$text_light : #797b7a;
$text_light_max : #fff;
$text_dark : #252525;
$text_accent : rgb(28, 139, 0);
$text_accent_transparent_mid : rgba(30, 215, 96, 0.25);
$text_accent_transparent : rgba(30, 215, 96, 0.5);
