.hide {
    display: none !important;
}

.show {
    display: flex !important;
}

//  PARA los subtitulos --> font-family: 'Poppins', sans-serif;

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;

    align-items: center;

    width: 100%;

    background-color: $color_light;
    color: $text_light;

    #content {
        .image {
            width: $image_size;
            height: $image_size;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
            margin: 1px;
        }
    }

    #duration {
        display: flex;
        align-items: center;
        width: 80%;

        #durationSlider {
            flex-grow: 1;
        }
    }

    #data {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 80%;

        margin: 3% 0;

        #controllers {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            width: 100%;

            padding-top: 3%;

            #normal {
                display: flex;
                justify-content: space-evenly;

                width: 100%;

                i {
                    font-size: 2.8rem;
                    color: $text_light;

                    &:hover {
                        color: $text_light_max;
                    }

                    &:active {
                        color: $text_light;
                    }
                }
            }

            #volumeBar {
                display: flex;

                margin-top: 3%;

                i {
                    font-size: 2rem;
                }

                #volume-range {
                    flex-grow: 1;
                }
            }
        }

        #info {
            display: flex;
            flex-direction: column;
            text-align: center;

            color: $text_light_max;

            #title {
                font-family: $primary_font;
            }

            #artist {
                font-family: $secondary_font;
            }
        }
    }

    div > i {
        cursor: pointer;
        padding: 5px;
    }

    div {
        color: $text_light;
    }

    div:hover {
        color: $text_light_max;
    }

    div:active {
        color: $text_light;
    }
}
