header{
    #contSwitch{
            background: $color_dark;
            border:1px solid $text_light;
            border-radius: 0.3em;
            width: 65px;
            height: 28px;
            margin-right: 20px;
        #switch{
            position: relative;
                width: 25px;
                height: 25px;
                margin-top: .2px;
                border:1px solid white;
                border-radius: 0.3em;
                background:$text_light;
                left:2%;
                transition: all .5s ease;
        }

        //Mover switch
        .mover{
            left:55%;
        }
    }
}