aside {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 100%;
    
    background-color: $color_dark;

    header {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 80px;
        width: 100%;
        
        background: linear-gradient(to right, $text_accent_transparent_low, $color_dark 45%, $color_dark 55%,$text_accent_transparent_low);
        background-size: 540px 100%;

        &.left {
            animation: headerToRight 1s forwards;
        }

        &.right {
            animation: headerToLeft 1s forwards;
        }
        
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Spotify";
            font-size: 1.5rem;
            
            height: 100%;
            width: 50%;
            color: $text_light_max;

            cursor: pointer;

            &#listAudio:not(.active):hover {
                background: $text_accent_transparent;
            }

            &#listVideo:not(.active):hover {
                background: $text_accent_transparent;
            }
        }
        
    }

    #list {
        flex-grow: 1;
        display: flex;

        width: 270px;
        overflow: hidden;

        .list {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            position: relative;

            width: 270px;

            .list-element {
                cursor: pointer;
                display: flex;
                align-items: center;

                width: 270px;
                height: 80px;

                padding: 0 5%;

                .img {
                    width: 60px;
                    height: 60px;
                    
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                    margin-right: 20px;

                    .playing {
                        position: relative;

                        width: 60px;
                        height: 60px;

                        font-size: 1.6rem;
                        color: $text_accent;

                        display: none;

                        justify-content: center;
                        align-items: center;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-family: $primary_font;
                        font-size: 1.2rem;
                        color: $text_light;
                        font-weight: bold;
                    }

                    .owner {
                        font-family: $secondary_font;
                        font-size: 0.9rem;
                        color: $text_light;
                        font-weight: normal;
                    }
                }

                &.active {
                    & .img .playing {
                        display: flex;
                    }
                    
                    .title {
                        font-weight: bolder;
                        color: white;
                    }

                    .owner {
                        font-weight: bold;
                        color: white;
                    }

                    &:hover {
                        background-color: $text_accent_transparent;
                    }
                }

                &:hover {
                    background-image: linear-gradient(to right, $text_accent_transparent_mid, $color_dark 90%);
                }

                &:active {
                    background-image: linear-gradient(to right, $text_accent_transparent, $color_dark 90%);
                }
            }

            &#listLeft .list-element.active {
                background-image: linear-gradient(to right, $text_accent_transparent_low, $color_dark 90%);
            }

            &#listRight .list-element.active {
                background-image: linear-gradient(to left, $text_accent_transparent_low, $color_dark 90%);
            }
        }

        &.left .list {
            animation: first 1s forwards;
        }

        &.right .list {
            animation: second 1s forwards;
        }
    }

    footer {
        height: 10%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            width: 50px;
            height: 50px;

            background-image: url("../img/spotifast.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .logoText {
            font-family: "Spotify";
            font-size: 2.5rem;
            color: $text_accent;
            margin-left: 2%;
        }
    }
}

@keyframes headerToRight {
    0% {background-position: 100% 0%}
    100% {background-position: 0% 0%}
}

@keyframes headerToLeft {
    0% {background-position: 00% 0%}
    100% {background-position: 100% 0%}
}

@keyframes first {
    0% {
        left: -270px;
    }

    100% {
        left: 0;
    }
}

@keyframes second {
    0% {
        left: 0;
    }

    100% {
        left: -270px;
    }
}
