aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 270px;
    height: 100%;
    
    background-color: $color_dark;

    header {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 15%;
        min-height: 60px;
        max-height: 100px;
        width: 100%;

        &.left {
            background: linear-gradient(to right, $text_accent_transparent_low, $color_dark 90%);
        }

        &.right {
            background: linear-gradient(to left, $text_accent_transparent_low, $color_dark 90%);
        }
        
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Spotify";
            font-size: 2rem;
            
            height: 100%;
            width: 50%;
            color: $text_light_max;

            cursor: pointer;

            &#listAudio:not(.active) {
                background: black;
            }

            &#listVideo:not(.active) {
                background: black;
            }
        }
        
    }

    #list {
        flex-grow: 1;
        display: flex;

        width: 100%;

        .list {
            display: flex;
            flex-direction: column;
            align-items: center;

            flex-basis: 100%;

            .list-element {
                cursor: pointer;
                display: flex;
                align-items: center;

                width: 100%;
                height: 80px;

                padding: 0 5%;

                .img {
                    width: 60px;
                    height: 60px;
                    
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                    margin-right: 20px;

                    .playing {
                        position: relative;

                        width: 60px;
                        height: 60px;

                        font-size: 1.6rem;
                        color: $text_accent;

                        display: none;

                        justify-content: center;
                        align-items: center;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-family: $primary_font;
                        font-size: 1.2rem;
                        color: $text_light;
                        font-weight: bold;
                    }

                    .owner {
                        font-family: $secondary_font;
                        font-size: 0.9rem;
                        color: $text_light;
                        font-weight: normal;
                    }
                }

                &.active {
                    background-image: linear-gradient(to right, $text_accent_transparent_low, $color_dark 90%);

                    & .img .playing {
                        display: flex;
                    }
                    
                    .title {
                        font-weight: bolder;
                        color: white;
                    }

                    .owner {
                        font-weight: bold;
                        color: white;
                    }

                    &:hover {
                        background-color: $text_accent_transparent;
                    }
                }

                &:hover {
                    background-image: linear-gradient(to right, $text_accent_transparent_mid, $color_dark 90%);
                }

                &:active {
                    background-image: linear-gradient(to right, $text_accent_transparent, $color_dark 90%);
                }
            }
        }
    }

    footer {
        height: 10%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            width: 50px;
            height: 50px;

            background-image: url("../img/spotifast.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .logoText {
            font-family: "Spotify";
            font-size: 2.5rem;
            color: $text_accent;
            margin-left: 2%;
        }
    }
}
