@import "colors";
@import "sizes";
@import "fonts";

@import "content";
@import "list";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    width: $all;
    height: $all;

    margin: 0;
    padding: 0;

    display: flex;
}

section {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    padding-inline-start: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: $text_light;
    border-radius: 5px;
    background-image: linear-gradient($text_lighter, $text_lighter);
    background-size: 0 100%;
    background-repeat: no-repeat;
    cursor: pointer;

    margin: 0 2%;
  
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 0;
        width: 15px;
        border-radius: 50%;
        background: $text_light_max;
        transition: background .3s ease-in-out;
    }
  
    &::-webkit-slider-runnable-track  {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }

    &:hover {
        border-radius: 5px;
        background-image: linear-gradient($text_accent, $text_accent);
        
        &::-webkit-slider-thumb {
            height: 15px;
        }
    }
}
