@import "colors";
@import "sizes";
@import "fonts";

@import "content";
@import "list";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: $all;
    height: $all;

    margin: 0;
    padding: 0;

    display: flex;
}

section {
    display: flex;
}

a {
    text-decoration: none;
    color: $secondary;
}

ul {
    padding-inline-start: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}
