@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
header #contSwitch {
  background: #000000;
  border: 1px solid #797b7a;
  border-radius: 0.3em;
  width: 65px;
  height: 28px;
  margin-right: 20px;
}

header #contSwitch #switch {
  position: relative;
  width: 25px;
  height: 25px;
  margin-top: .2px;
  border: 1px solid white;
  border-radius: 0.3em;
  background: #797b7a;
  left: 2%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header #contSwitch .mover {
  left: 55%;
}

.hide {
  display: none !important;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #121212;
  color: #797b7a;
}

main #content .image {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 1px;
}

main #duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

main #duration #durationSlider {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main #data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 3% 0;
}

main #data #controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 3%;
}

main #data #controllers #normal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

main #data #controllers #normal i {
  font-size: 2.8rem;
  color: #797b7a;
}

main #data #controllers #normal i:hover {
  color: #fff;
}

main #data #controllers #normal i:active {
  color: #797b7a;
}

main #data #controllers #volumeBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
}

main #data #controllers #volumeBar i {
  font-size: 2rem;
}

main #data #controllers #volumeBar #volume-range {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main #data #info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
}

main #data #info #title {
  font-family: "Helvetica";
}

main #data #info #artist {
  font-family: "Arial";
}

main div > i {
  cursor: pointer;
  padding: 5px;
}

main div {
  color: #797b7a;
}

main div:hover {
  color: #fff;
}

main div:active {
  color: #797b7a;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  min-width: 300px;
  height: 100%;
}

aside header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
  min-height: 60px;
  max-height: 100px;
  width: 100%;
  background-color: #000000;
  color: #fff;
}

aside header h3 {
  font-size: 1.5rem;
}

aside #list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  width: 100%;
}

aside #list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

aside #list .list .list-element {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 5%;
}

aside #list .list .list-element .img {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}

aside #list .list .list-element .img .playing {
  position: relative;
  width: 60px;
  height: 60px;
  font-size: 1.6rem;
  color: #1c8b00;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside #list .list .list-element .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside #list .list .list-element .text .title {
  font-family: "Helvetica";
  font-size: 1.2rem;
  color: #797b7a;
  font-weight: 200;
}

aside #list .list .list-element .text .owner {
  font-family: "Arial";
  font-size: 0.9rem;
  color: #797b7a;
  font-weight: 100;
}

aside #list .list .list-element.active {
  background-color: rgba(30, 215, 96, 0.5);
}

aside #list .list .list-element.active .img .playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside #list .list .list-element.active .title {
  font-weight: bolder;
  color: white;
}

aside #list .list .list-element.active .owner {
  font-weight: bold;
  color: white;
}

aside #list .list .list-element.active:hover {
  background-color: rgba(30, 215, 96, 0.5);
}

aside #list .list .list-element:hover {
  background-color: rgba(30, 215, 96, 0.25);
}

aside #list .list .list-element:active {
  background-color: rgba(30, 215, 96, 0.5);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */