@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Spotify";
  src: url("../fonts/GothamMedium.ttf");
}

.hide {
  display: none !important;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: #121212;
  color: #797b7a;
}

main #content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

main #content .image {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 1px;
}

main #content .image.ampliar {
  background-image: none !important;
  background-color: #000000;
  -webkit-animation: ampliar 1s ease forwards;
          animation: ampliar 1s ease forwards;
}

@-webkit-keyframes ampliar {
  0% {
    height: 300px;
    width: 300px;
    opacity: 1;
  }
  100% {
    height: 420px;
    width: 900px;
    opacity: 0.5;
  }
}

@keyframes ampliar {
  0% {
    height: 300px;
    width: 300px;
    opacity: 1;
  }
  100% {
    height: 420px;
    width: 900px;
    opacity: 0.5;
  }
}

main #content .image.disminuir {
  background-color: #000000;
  -webkit-animation: disminuir 1s ease forwards;
          animation: disminuir 1s ease forwards;
}

@-webkit-keyframes disminuir {
  0% {
    height: 420px;
    width: 900px;
    background-image: none !important;
  }
  99% {
    background-image: none !important;
  }
  100% {
    height: 300px;
    width: 300px;
    background-image: none !important;
  }
}

@keyframes disminuir {
  0% {
    height: 420px;
    width: 900px;
    background-image: none !important;
  }
  99% {
    background-image: none !important;
  }
  100% {
    height: 300px;
    width: 300px;
    background-image: none !important;
  }
}

main #content video {
  max-height: 480px;
  min-height: 360px;
  max-width: 100%;
  background-color: #000000;
}

main #duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding-top: 2%;
}

main #duration h5 {
  cursor: default;
}

main #duration #durationSlider {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main #data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  min-width: 300px;
  margin: 3% 0;
}

main #data #controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 3%;
}

main #data #controllers #normal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main #data #controllers #normal i {
  font-size: 2.8rem;
  color: #797b7a;
}

main #data #controllers #normal i:hover {
  color: #fff;
}

main #data #controllers #normal i:active {
  color: #797b7a;
}

main #data #controllers #bottomControllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 3%;
}

main #data #controllers #bottomControllers i {
  font-size: 2rem;
}

main #data #controllers #bottomControllers #volumeBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
}

main #data #controllers #bottomControllers #volumeBar #volume-range {
  width: 0;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.5, 1, 0.5);
  transition: all 0.5s cubic-bezier(0, 0.5, 1, 0.5);
}

main #data #controllers #bottomControllers #volumeBar:hover #volume-range {
  width: 100%;
}

main #data #controllers #bottomControllers #others {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #data #controllers #bottomControllers #others #subtitles {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: 'FontAwesome', "Spotify";
  background-color: #121212;
  color: #797b7a;
  height: 2rem;
  text-align: center;
  border: none;
  font-size: 2rem;
}

main #data #controllers #bottomControllers #others #subtitles:hover {
  color: #fff;
}

main #data #controllers #bottomControllers #others #subtitles.on {
  color: #2ebd59;
}

main #data #controllers #bottomControllers #others #subtitles * {
  background-color: #121212;
}

main #data #controllers #bottomControllers #others #loop.active {
  color: #2ebd59;
}

main #data #info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
}

main #data #info #title {
  font-family: "Helvetica";
}

main #data #info #artist {
  font-family: "Arial";
}

main div > i {
  cursor: pointer;
  padding: 5px;
}

main div {
  color: #797b7a;
}

main div:hover {
  color: #fff;
}

main div:active {
  color: #797b7a;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  height: 100%;
  background-color: #000000;
}

aside header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(46, 189, 89, 0.75)), color-stop(45%, #000000), color-stop(55%, #000000), to(rgba(46, 189, 89, 0.75)));
  background: linear-gradient(to right, rgba(46, 189, 89, 0.75), #000000 45%, #000000 55%, rgba(46, 189, 89, 0.75));
  background-size: 540px 100%;
}

aside header.left {
  -webkit-animation: headerToRight 1s forwards;
          animation: headerToRight 1s forwards;
}

aside header.right {
  -webkit-animation: headerToLeft 1s forwards;
          animation: headerToLeft 1s forwards;
}

aside header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Spotify";
  font-size: 1.5rem;
  height: 100%;
  width: 50%;
  color: #fff;
  cursor: pointer;
}

aside header div#listAudio:not(.active):hover {
  background: rgba(46, 189, 89, 0.5);
}

aside header div#listVideo:not(.active):hover {
  background: rgba(46, 189, 89, 0.5);
}

aside #list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  overflow: hidden;
}

aside #list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 270px;
}

aside #list .list .list-element {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 80px;
  padding: 0 5%;
}

aside #list .list .list-element .img {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 20px;
}

aside #list .list .list-element .img .playing {
  position: relative;
  width: 60px;
  height: 60px;
  font-size: 1.6rem;
  color: #2ebd59;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside #list .list .list-element .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 200px;
}

aside #list .list .list-element .text .title {
  font-family: "Helvetica";
  font-size: 1rem;
  color: #797b7a;
  font-weight: bold;
}

aside #list .list .list-element .text .owner {
  font-family: "Arial";
  font-size: 0.8rem;
  color: #797b7a;
  font-weight: normal;
}

aside #list .list .list-element.active .img .playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside #list .list .list-element.active .title {
  font-weight: bolder;
  color: white;
}

aside #list .list .list-element.active .owner {
  font-weight: bold;
  color: white;
}

aside #list .list .list-element.active:hover {
  background-color: rgba(46, 189, 89, 0.5);
}

aside #list .list .list-element:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 189, 89, 0.25)), color-stop(90%, #000000));
  background-image: linear-gradient(to right, rgba(46, 189, 89, 0.25), #000000 90%);
}

aside #list .list .list-element:active {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 189, 89, 0.5)), color-stop(90%, #000000));
  background-image: linear-gradient(to right, rgba(46, 189, 89, 0.5), #000000 90%);
}

aside #list .list#listLeft .list-element.active {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(46, 189, 89, 0.75)), color-stop(90%, #000000));
  background-image: linear-gradient(to right, rgba(46, 189, 89, 0.75), #000000 90%);
}

aside #list .list#listRight .list-element.active {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(46, 189, 89, 0.75)), color-stop(90%, #000000));
  background-image: linear-gradient(to left, rgba(46, 189, 89, 0.75), #000000 90%);
}

aside #list.left .list {
  -webkit-animation: first 1s forwards;
          animation: first 1s forwards;
}

aside #list.right .list {
  -webkit-animation: second 1s forwards;
          animation: second 1s forwards;
}

aside footer {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside footer .logo {
  width: 50px;
  height: 50px;
  background-image: url("../img/spotifast.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

aside footer .logoText {
  font-family: "Spotify";
  font-size: 2.5rem;
  color: #2ebd59;
  margin-left: 2%;
}

@-webkit-keyframes headerToRight {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes headerToRight {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@-webkit-keyframes headerToLeft {
  0% {
    background-position: 00% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes headerToLeft {
  0% {
    background-position: 00% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@-webkit-keyframes first {
  0% {
    left: -270px;
  }
  100% {
    left: 0;
  }
}

@keyframes first {
  0% {
    left: -270px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes second {
  0% {
    left: 0;
  }
  100% {
    left: -270px;
  }
}

@keyframes second {
  0% {
    left: 0;
  }
  100% {
    left: -270px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #797b7a;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a8a8a8), to(#a8a8a8));
  background-image: linear-gradient(#a8a8a8, #a8a8a8);
  background-size: 0 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 2%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]:hover {
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2ebd59), to(#2ebd59));
  background-image: linear-gradient(#2ebd59, #2ebd59);
}

input[type=range]:hover::-webkit-slider-thumb {
  height: 15px;
}
/*# sourceMappingURL=main.css.map */